@media (min-width: 768px) {
    .main {
      width: 100%;
      display: block;
      text-align: center;
    }
    .back-img {
      z-index: 1;
    }
    
  }
  @media (max-width: 768px) {
    .main {
      width: 100%;
      display: block;
      text-align: center;
    }
    .back-img {
      z-index: 1;
    }
    .backimg {
      width: 50%;
      height: 50%;
      
    }
  }