@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
.modal {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}
.modal .wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal .container {
  width: 90%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  border-radius: 2px;
  transition: all 0.3s ease;
  margin: 0px auto;
}
.content {
  font-family: 'Poor Story', cursive;
}
.flex-box {
  display: flex;
}
.both  {
  height: 50%;
}
.header {
  border-bottom: 1px solid;
  border-radius: 2px;
  padding: 2%;
  display: flex;
  justify-content: flex-start;
}
.header span {
  font-size: 50px;
  font-family: 'Poor Story', cursive;
}
.header .close {
  cursor: pointer;
  margin-left: auto;
}
.item-img {
  text-align: center;
  width: 40px;
  height: 40px;
}
thead th {
  padding: 0.5%;
}
thead {
  background: beige;
}
.content-table {
  height: 600px;
  overflow-y: auto;
  width: 100%;
}
.modal-enter {
  opacity: 0;
}
table {
    width: 90%;
    margin: auto;
    border-collapse:collapse;
}
tbody td {
  text-align: center;
}
tbody > tr:nth-child(2n+2){
    background: #eeeeee;
}
.modal-leave-active {
  opacity: 0;
}
.stat {
  display: block;
}
.container h1 {
  text-align: center;
}
.container:focus{
  outline: none;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 768px) {
  .flex-box {
    display: block;
  }
  .both  {
    height: 300px;
    border-radius: 2px;
  }
  .modal .container {
    width: 100%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    border-radius: 2px;
    transition: all 0.3s ease;
    margin: 0px auto;
  }
  
}